*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("./BG/bg1.jpg");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 70%;
    background-color: rgba(190, 184, 184, 0.124);
    border-radius: 30px;
    backdrop-filter: blur(1px);
   
   
}

.loginDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.password{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: "Merriweather", serif;
     
    
    

}

h1{
    font-size: 70px;
    font-weight: 600;
   font-family: "Merriweather Sans", sans-serif;
    
   
 
    
    
    
}

input[type="text"], input[type="password"]{

    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Merriweather", serif;
    
    
    
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(rgba(128, 0, 128, 0.704),rgba(238, 130, 238, 0.327));
    font-family: "Merriweather", serif;
    
}

input[type="checkbox"]
{
    width: 20px;
    height: 15px;
    cursor: pointer;
   
}

p{
    text-decoration: underline;
    cursor: pointer;
   
   
}

.remember{
    cursor: pointer;
}

/* Mobile  */
@media screen and (min-width:320px) and (max-width:480px)  {
    .container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    }

    .login {
    gap: 30px;
    width: 80%;
    height: 89%; }

    h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Merriweather Sans", sans-serif;
} 

    .loginDetails {
    width: 80%;
    gap: 15px;
}

    input[type="text"], input[type="password"] {
    padding: 15px;
    font-size: 16px;
}

    .password {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 10px;
}

    button {
    padding: 10px 15px;
    font-size: 15px; 
    }
   
}
   


/* Tablets */
@media screen and (min-width:481px) and (max-width:768px)  {
    .container {
    width: 100vw;
    height: 100vh;
    /* background-position: center; */
    }

    .login {
    gap: 30px;
    width: 80%;
    height: 89%; }

    h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Merriweather Sans", sans-serif;
} 

    .loginDetails {
    width: 80%;
    gap: 15px;
}

    input[type="text"], input[type="password"] {
    padding: 15px;
    font-size: 18px;
}

    .password {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

    button {
    padding: 10px 15px;
    font-size: 15px; 
    }
}

/* Laptops */
@media screen and (min-width:769px) and (max-width:1024px)  {
    .container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    }

    .login {
    gap: 30px;
    width: 80%;
    height: 89%; }

    h1 {
    font-size: 70px;
    font-weight: 600;
    font-family: "Merriweather Sans", sans-serif;
} 

    .loginDetails {
    width: 65%;
    gap: 15px;
}

    input[type="text"], input[type="password"] {
    padding: 10px 20px;
    font-size: 20px;
}

    .password {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

    button {
    padding: 10px 20px;
    font-size: 25px; 
    }
   
}

/* Desktops */
@media screen and (min-width:1025px) and (max-width:1200px)  {
     .container {
    width: 100vw;
    height: 100vh;
    /* background-position: center; */
    }

    .login {
    gap: 30px;
    width: 80%;
    height: 89%; }

    h1 {
    font-size: 80px;
    font-weight: 600;
    font-family: "Merriweather Sans", sans-serif;
} 

    .loginDetails {
    width: 75%;
    gap: 20px;
}

    input[type="text"], input[type="password"] {
    padding: 10px 20px;
    font-size: 20px;
}

    .password {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

    button {
    padding: 15px 20px;
    font-size: 30px; 
    }
   
   
}



